app/tamplates/contacts.jade
extends _layout
block content
	.container
		div(block="contacts")
			//- col-1
			div(elem="col")
				p Feel free to drop a line to work with us or just to say “hi”
				form(action="")
					div(elem="input-box")
						label(elem="label" for="name") Name:
						input#name.input-style(elem="input" type="text" name="name" autocomplete="name" required="")

					div(elem="input-box")
						label(elem="label" for="mail") E-mail:
						input#mail.input-style(elem="input" type="email" name="email" autocomplete="email")

					div(elem="input-box")
						label(elem="label" for="msg") Message:
						textarea#msg.input-style(elem="textarea" name="message")

					button.btn(elem="btn") Send

			//- col-2
			div(elem="col")
				mixin cont-item(icon, text)
					div(elem="item")
						i(elem="item-icon" class=icon)
						div(elem="item-text")=text
				+cont-item('addr', 'Lorem Avenue Ipsum Street No:11/21')
				+cont-item('tel', '555 - 444 33 22')
				+cont-item('mail', 'contact@locusadvertising.com')

				div(block="notice") RT If you're following a popular celebrity, on Twitter, a great deal of the time, your tw'ting an assistant or writers 4 hire. Not here!
				div(block="b-soc")
					-for(i=1;i<=8;i++)
						a(elem="link" href=href)
							img(src="images/media/soc-"+i+".png", alt="", title="soc "+i)

dist/contacts.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Dev site</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="plugins/owl.carousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    <div id="preloader">
      <div id="status"></div>
    </div>
    <div class="wrap-site">
      <header class="header">
        <div class="container">
          <h1 class="header__title"><b>Locus</b> Advertising</h1>
          <div class="nav-bar">
            <ul class="nav-bar__menu">
                            <li class="nav-bar__menu-item"><a class="nav-bar__menu-link" href="javascript:void(0)">Home</a></li>
                            <li class="nav-bar__menu-item"><a class="nav-bar__menu-link" href="javascript:void(0)">About</a></li>
                            <li class="active nav-bar__menu-item"><a class="nav-bar__menu-link" href="javascript:void(0)">Portfolio</a></li>
                            <li class="nav-bar__menu-item"><a class="nav-bar__menu-link" href="javascript:void(0)">News</a></li>
                            <li class="nav-bar__menu-item"><a class="nav-bar__menu-link" href="javascript:void(0)">Contact</a></li>
            </ul>
            <div class="nav-bar__search">
              <div class="search-widget">
                <form action="">
                  <input class="search-widget__input" type="text" required>
                  <button class="search-widget__btn">search</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </header>
      <main class="main">
        <div class="container">
          <div class="contacts">
            <div class="contacts__col">
              <p>Feel free to drop a line to work with us or just to say “hi”</p>
              <form action="">
                <div class="contacts__input-box">
                  <label class="contacts__label" for="name">Name:</label>
                  <input class="input-style contacts__input" id="name" type="text" name="name" autocomplete="name" required>
                </div>
                <div class="contacts__input-box">
                  <label class="contacts__label" for="mail">E-mail:</label>
                  <input class="input-style contacts__input" id="mail" type="email" name="email" autocomplete="email">
                </div>
                <div class="contacts__input-box">
                  <label class="contacts__label" for="msg">Message:</label>
                  <textarea class="input-style contacts__textarea" id="msg" name="message"></textarea>
                </div>
                <button class="btn contacts__btn">Send</button>
              </form>
            </div>
            <div class="contacts__col">
                            <div class="contacts__item"><i class="addr contacts__item-icon"></i>
                              <div class="contacts__item-text">Lorem Avenue Ipsum Street No:11/21</div>
                            </div>
                            <div class="contacts__item"><i class="tel contacts__item-icon"></i>
                              <div class="contacts__item-text">555 - 444 33 22</div>
                            </div>
                            <div class="contacts__item"><i class="mail contacts__item-icon"></i>
                              <div class="contacts__item-text">contact@locusadvertising.com</div>
                            </div>
              <div class="notice">RT If you're following a popular celebrity, on Twitter, a great deal of the time, your tw'ting an assistant or writers 4 hire. Not here!</div>
              <div class="b-soc"><a class="b-soc__link" href="javascript:void(0)"><img src="images/media/soc-1.png" alt="" title="soc 1"></a><a class="b-soc__link" href="javascript:void(0)"><img src="images/media/soc-2.png" alt="" title="soc 2"></a><a class="b-soc__link" href="javascript:void(0)"><img src="images/media/soc-3.png" alt="" title="soc 3"></a><a class="b-soc__link" href="javascript:void(0)"><img src="images/media/soc-4.png" alt="" title="soc 4"></a><a class="b-soc__link" href="javascript:void(0)"><img src="images/media/soc-5.png" alt="" title="soc 5"></a><a class="b-soc__link" href="javascript:void(0)"><img src="images/media/soc-6.png" alt="" title="soc 6"></a><a class="b-soc__link" href="javascript:void(0)"><img src="images/media/soc-7.png" alt="" title="soc 7"></a><a class="b-soc__link" href="javascript:void(0)"><img src="images/media/soc-8.png" alt="" title="soc 8"></a>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="plugins/jquery.min.js"></script>
    <script src="plugins/owl.carousel/owl.carousel.min.js"></script>
    <script src="plugins/delete-me.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>
